body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 188, 65);
    font-family: Arial, Helvetica, sans-serif;
}

article {
    padding: 1.5em;
    background-color: whitesmoke;
    margin: 20px auto;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
    max-width: 960px;
}

article img {
    width: 100%;
}

/* ******************* */


main>article>img + div, h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #A9A9A9;
}

main>article>img + div{
    padding-top: 15px;
}
h2{
    color: #D75706;
}

/* ************* parte de la lista ************* */

main>article>ul{
    list-style: none;
    padding-left: 0px;
}
main>article>ul li{
  display: block ;
  background-color: #EDEDED;
  padding: 5px 10px;
}
main>article>ul>li span{
    font-weight: bold;
}

main>article>ul>li:nth-child(2n){
    background-color: #D7D7D7;
}

/* ************* parrafo en negrita ************* */

main>article>p:first-of-type{
    font-weight: bold;
}

/* ************* parte de conclusion *************
ver color del titulo */

main>article>div:last-child{
    padding: 15px 15px;
    background-color: #D7D7D7;
}
main>article>div>p{
    font-style: italic;
}

main>article>div>h2:last-of-type{
    color: black;
}

/* icono suma */
main>article>div>h2::before{
    content: "+";
    display: inline-block;
    background-color: #FF4501;
    color: white;
    margin: auto 5px 5px;
    margin: auto 5px auto auto;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
}
