/* introduccion */
.contenedor_imagen_intro img {
    float: right;
    width: 250px;
    margin: 15px 10px;
}

.contenedor_imagen_intro>p {
    text-align: justify;
}

.gif_intro{
    display: flex;
}

.gif_intro img{
    width: 200px;
}


/* cheppelle's show */
.personajes>div {
    margin: 20px auto;
    overflow: auto;
    text-align: justify;

}

.personajes>div>img {
    overflow: auto;
    display: block;
    margin: 5px 10px;
    border-radius: 10px;
    width: 200px;
    float: left;

}

.personajes_gifs {
    display: flex;
    margin: 100px auto;
    gap: 20px;
}

.personajes_gifs img{
    width: 200px;
}

.personajes_gifs img:first-of-type{
    width: inherit;
}

.gif_vertical{
    display: flex;
    flex-direction: column;
}

.gif_vertical img:first-of-type{
    margin-top: 0px;
}

.gif_vertical img:last-of-type{
    margin-bottom: 0px;
}

.gif_grupo{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


/* EL REGRESO */
.especiales_netflix {
    display: flex;
    flex-wrap: wrap;
}

.especiales_netflix a {
    position: relative;
    flex: 1;
    padding-top: 1em;
}

.especiales_netflix img:hover {
    outline: solid 2px #8cb4ff;
}

.especiales_netflix img {
    width: inherit;
    border-radius: 5px;
}

.especiales_netflix a::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../imagenes/icono_click_black.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 8px;
    right: 45px;
}

.especiales_netflix a:hover::before {
    display: none;
}

iframe {
    border-radius: 5px;
    display: block;
    margin: auto;
}


/* CARRERA TEMPRANA */
.contenedor_carrera_temprana div {
    margin-bottom: 40px;
}

.contenedor_carrera_temprana p {
    text-align: justify;
}

.contenedor_carrera_temprana>div>img {
    float: right;
    width: 300px;
}

.contenedor_carrera_temprana>div>img:first-of-type {
    margin: 15px auto auto 15px;
}

.contenedor_carrera_temprana>div:last-of-type>img {
    margin: 15px 15px auto auto;
    float: left;
}

figure {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

figure>img {
    border-radius: 0px;
    width: 100%;
}

figcaption {
    text-align: center;
    text-shadow: 2px 1px 2px black;
    color: white;
    background-color: #ff0213;
    margin: 0px;
    border: none;
}


/* filmografia */

.lista_filmografia {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

.lista_filmografia li {
    border-radius: 5px;
    overflow: hidden;
    padding: 1em;
}

.lista_filmografia img {
    box-sizing: border-box;
    width: 100%;
    border-radius: inherit;
}

.lista_filmografia a {

    position: relative;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    float: left;
    width: 100px;
}

.lista_filmografia a::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../imagenes/icono_click_black.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 2px;
    right: 2px;
}

.lista_filmografia a:hover:before {
    display: none;
}

.lista_filmografia img:hover {
    border: solid 2px #8cb4ff;
}

.lista_filmografia div {
    display: flex;
    flex-direction: column
}

.lista_filmografia div h3 {
    text-align: left;
    width: 100%;
    margin: 5px;

}

.lista_filmografia div p {
    font-size: 0.7em;
    line-height: 18px;
    padding: 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.lista_filmografia li:nth-child(2n - 1) {
    background-color: #000000;
}


/* flecha hacia el principio*/
.volver_al_menu a {
    position: fixed;
    background-image: url("../imagenes/icono_flacha.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;

    background-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
}

.volver_al_menu a:hover {
    border: solid 2px #8cb4ff;
}


/* BUDDIES */
.buddies>img:first-of-type {
    width: 700px;
}

.buddies img {
    width: 500px;
}

.buddies p>img {
    display: block;
    float: left;
    width: 150px;
    margin: 5px 10px;
    border-radius: 10px;
}

.fusion_img_portada_boddies {
    position: relative;
    width: 250px;
    margin: auto;
}

.fusion_img_portada_boddies img:first-of-type {
    display: block;
    width: 100%;
    border-radius: 10px;

}

.fusion_img_portada_boddies img:last-of-type {
    position: absolute;
    display: block;
    width: 100%;
    top: 0px;
    border-radius: 5px;

}


/* footer bibliografia */

.links_fuentes {
    margin: 10px auto;
    text-align: center;
}

.links_fuentes li {
    margin: auto 10px;
    display: inline-block;
}

.pagina_activada::after {
    content: "";
    width: 100%;
    animation: 6s infinite mianimacion;
}

@keyframes mianimacion {
    0% {
        border-bottom: 2px solid #ff0213;
    }
    50% {
        border-bottom: 2px solid #f76c75;
        box-shadow: 0px 0px 8px #ff3744;
    }
    100% {
        border-bottom: 2px solid #ff0213;
        box-shadow: 0px 0px 0px #ff3744;
    }
}